{{!-- <!DOCTYPE html> --}}
<html>

<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  {{!-- <link id='CSS' rel='stylesheet' type='text/css'
    href='https://d33wubrfki0l68.cloudfront.net/bundles/682d62a8b975cb2ecfad19e9ba70219eaa2890e1.css' /> --}}
  <title>Home Page</title>
</head>

<body>
  {{{body}}}

</body>
</html>