<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
  </head>
  <body>
    <div id="wrapper">
      <h1>Synth News</h1>
      <div id="articles"></div>
    </div>

      <div id ="results" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Article Notes</h2>
        </div>
        <div class="modal-body">
          <div id="notes"></div>
        </div>
        <div class="modal-body2">
          <div id="notes"></div>
          <textarea id='noteinput' name='body'></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <script src="/js/app.js"></script>
  </body>
</html>